<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="“icon”" href="”Favicon.ico”" />
    <title>StudBud</title>
    <!--- Linking the css -->
    <link rel="stylesheet" href="public/stylesheets/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  </head>
  <body>
    <!--- This is the Nav bar.-->
    <header>
      <img class="Logo" src="images/Logo.png" alt="Logo" />
      <div class="topnav-right">
        <a class="login" href="/login">Log in</a>
        <a class="signup" href="/sign-up">Sign up</a>
      </div>
    </header>

<!--- Intro w/ mission statement.-->
    <div class="landingContainer">
      <div class="intro">
        <h1 class="webappTitle">Study like a PRO.</h1>
        <p class="missionStatement">
          Learn the art of balance and master how to manage your time
          effectively with StudBud. A one stop shop for all your study
          management needs.
        </p>
        <a class="signupButton2" href="/sign-up"
          ><button>Sign up free</button></a
        >
        <a class="learnMoreButton" href="#"><button2>Learn more</button2></a>
      </div>
      <img
        class="landingImage"
        src="images/LandingImage.png"
        width="600px"
        height="auto"
        alt="-"
      />
    </div>

<!--- App offering cards-->
    <div style="background-color:#FFA5B0 ;">
        <h1>Why StudBud?</h1>
        <div class="offerings">
        <div class="offering">
            <span class="material-symbols-outlined">task</span>
                    <h3>Organise Tasks</h3>
                    <br>
                    <h4>Organise tasks like never before 
                    with classic todo list functionality, 
                    as well  as Kanban.</h4>
         </div>

          <div class="offering">
            <span class="material-symbols-outlined">timer</span>
                    <h3>Manage Time</h3>
                    <br>
                    <h4>Manage and track your time like
                    a boss, with stopwatch functionality 
                    and a flow time tracker.</h4>
         </div>

          <div class="offering">
<span class="material-symbols-outlined">calendar_month</span>
                    <h3>Beat Deadlines</h3>
                    <br>
                    <h4>Know when your tasks are due and
                    Beat those deadlines by utilising
                    Our awesome calendar feature.</h4>
         </div>

         <div class="offering">
            <span class="material-symbols-outlined">collections_bookmark</span>
                    <h3>Collect Readings</h3>
                    <br>
                    <h4>Collect and store relevant study 
                    Readings in your very own online 
                    Library.</h4>
         </div>

         </div>
    </div>

<div class="contentblock">
    <div>
        <h1>
            Everything in one place.
        </h1>
        <p>Signup and access your very own personalised 
dashboard that gives you a summarised view of 
everything study-related. View your daily todo 
tasks, and be inspired by our daily motivational 
quotes whilst listening to some soothing music.</p>
    </div>
    <div class="MockupBlock">
        <img src="images/Mockup1.png" style="width: 700px ; height:auto" alt="">
    </div>
</div>

<div class="contentblock">
    <div>
        <h1>
            Plan out your studies.
        </h1>
        <p>Use our kanban-style task board to create 
and edit new tasks. Name and colour code 
your tasks, set deadlines, and rank their 
priority. Create your own categories and 
drag and drop tasks to organise.</p>
    </div>
    <div class="MockupBlock">
        <img src="images/Mockup2.png" style="width: 700px ; height:auto" alt="">
    </div>
</div>

<div class="contentblock">
    <div>
        <h1>
            Master productivity.
        </h1>
        <p>Use our pomodoro time-tracker as well
as the stopwatch to manage your time
effectively and get stuff done.</p>
    </div>
    <div class="MockupBlock">
        <img src="images/Mockup3.png" style="width: 700px ; height:auto" alt="">
    </div>
</div>