<!---his is the Nav bar.-->
<header>
  <img class="Logo" src="images/Logo.png" alt="Logo" />
  <div class="topnav-right">
    <a class="login" href="/login">Log in</a>
    <a class="signup" href="/sign-up">Sign up</a>
  </div>
</header>

<!---intro w/ mission statement.-->
<div class="landingContainer">
  <div class="intro">
    <h1 class="webappTitle">Study like a PRO.</h1>
    <p class="missionStatement">
      Learn the art of balance and master how to manage your time effectively
      with StudBud. A one stop shop for all your study management needs.
    </p>
    <a class="signupButton2" href="/sign-up"><button>Sign up free</button></a>
    <a class="learnMoreButton" href="#"><button2>Learn more</button2></a>
  </div>
  <img
    class="landingImage"
    src="images/LandingImage.png"
    width="600px"
    height="auto"
    style="margin-top:-210px;"
    alt="-"
  />
</div>

<!---pp offering cards
<div style="background-color:#FFA5B0 ;">
  <h1>Why StudBud?</h1>
  <div class="offerings">
    <div class="offering">
      <span class="material-symbols-outlined">task</span>
      <h3>Organise Tasks</h3>
      <br />
      <h4>Organise tasks like never before with classic todo list functionality,
        as well as Kanban.</h4>
    </div>

    <div class="offering">
      <span class="material-symbols-outlined">timer</span>
      <h3>Manage Time</h3>
      <br />
      <h4>Manage and track your time like a boss, with stopwatch functionality
        and a flow time tracker.</h4>
    </div>

    <div class="offering">
      <span class="material-symbols-outlined">calendar_month</span>
      <h3>Beat Deadlines</h3>
      <br />
      <h4>Know when your tasks are due and Beat those deadlines by utilising Our
        awesome calendar feature.</h4>
    </div>

    <div class="offering">
      <span class="material-symbols-outlined">collections_bookmark</span>
      <h3>Collect Readings</h3>
      <br />
      <h4>Collect and store relevant study Readings in your very own online
        Library.</h4>
    </div>
  </div>
</div>-->

<!---ull page scroll-->
<div class="container">
  <section class="contentblock1">
    <div id="content_textbox">
      <h1>
        Everything in one place.
      </h1>
      <p>Signup and access your very own personalised dashboard that gives you a
        summarised view of everything study-related. View your daily todo tasks,
        and be inspired by our daily motivational quotes whilst listening to
        some soothing music.</p>
    </div>
    <div id="mockup_block">
      <img
        src="images/Mockup1.png"
        style="width: 900px; height:auto; margin-top:90px;"
        alt=""
      />
    </div>
  </section>

  <section class="contentblock2">
    <div id="mockup_block">
      <img src="images/Mockup2.png" style="width: 900px ; height:auto" alt="" />
    </div>
    <div id="content_textbox2">
      <h1>
        Plan out your studies.
      </h1>
      <p>Use our kanban-style task board to create and edit new tasks. Name and
        colour code your tasks, set deadlines, and rank their priority. Create
        your own categories and drag and drop tasks to organise.</p>
    </div>
  </section>

  <section class="contentblock3">
    <div id="content_textbox">
      <h1>
        Master productivity.
      </h1>
      <p>Use our pomodoro time-tracker as well as the stopwatch to manage your
        time effectively and get stuff done.</p>
    </div>
    <div id="mockup_block">
      <img
        src="images/Mockup3.png"
        style="width: 900px ; height:auto; margin-top:120px; margin-left:30px;"
        alt=""
      />
    </div>
  </section>

  <section class="contentblock4">
    <div id="mockup_block">
      <img src="images/Mockup4.png" style="width: 750px ; height:auto" alt="" />
    </div>
    <div id="content_textbox">
      <h1>
        Manage study content.
      </h1>
      <p>Take notes like a pro and store your readings with StudBud. Use our
        library feature to add, edit, and store readings in one space. Create
        your own notes and file them under personalised tabs to keep your work
        tidy and organised.
      </p>
    </div>
  </section>

  <section class="contentblock5" style="height: 100vh;">
    <img
      id="mockup_footer"
      src="images/Footer.png"
      style="width:100vw; height:100vh"
      alt=""
    />
    <div class="footer_text">
      <h1>Like what you see?</h1>
    </div>
    <div class="footer_signupbutton">
      <a href="/sign-up"><button style="width: 250px;">Sign me up for free!</button></a>
    </div>
  </section>

</div>