<!---This is is the Nav bar.-->
<header>
  <div style="margin-left:97%;">
    <img id="accountlogo" src="images/account_logo.png" alt="" />
  </div>
  <nav>
    <div class="sideNav">
      <a href="../"><img
          class="Logo2"
          style="width: 100px; height: auto"
          src="images/Logo2.png"
          alt="Logo"
        /></a>
      <a>
        <ul class="nav_links">
          <li>
            <a href="/dashboard">
              <span class="material-symbols-outlined"> dashboard </span>
              Dashboard</a>
          </li>
          <li>
            <a href="/task-board">
              <span class="material-symbols-outlined"> task </span>
              Task Board</a>
          </li>
          <li>
            <a href="/time-tracker">
              <span class="material-symbols-outlined"> timer </span>
              Time Tracker</a>
          </li>
          <li class="active">
            <a href="/library">
              <span class="material-symbols-outlined"> auto_stories </span>
              Library</a>
          </li>
          <li>
            <a href="#">
              <span class="material-symbols-outlined">
                settings
              </span>Settings</a>
          </li>
        </ul>
      </a>
    </div>
  </nav>
</header>
<!-- Page contents -->
<style>
  body{ background-color: #D7EDEB; }
</style>
<h1 class="PageTitle"> Your Library</h1>
<div class="newReadingForm">
  <form id="libraryForm">
    <label for="title">Title</label>
    <input
      type="text"
      class="input_box"
      placeholder="Enter reading title"
      id="title"
    />
    <label for="link">Link</label>
    <input
      type="text"
      class="input_box"
      placeholder="Enter reading url"
      id="url"
    />
    <button type="submit" class="createReadingButton">Add Reading</button>
  </form>

  <ul class="readingsList" id="readingsList">

  </ul>
</div>
<script src="/javascripts/library.js"></script>