<!---This is the Nav bar.-->
<header>
  <a href="../"><img class="Logo" src="images/Logo.png" alt="Logo" /></a>
  <div class="topnav-right">
    <a class="active2" href="/login">Log in</a>
    <a class="signup" href="/sign-up">Sign up</a>
  </div>
</header>
<div class="myContainer">
  <div class="loginContainer">
    <img
      class="landingImage_login"
      src="images/LandingImage.png"
      width="600px"
      height="auto"
      alt="-"
    />
    <div class="loginForm">
      <h2 class="h2_signup">Log in to StudBud</h2>
      <br />
      <form id="loginForm">
        <input
          type="email"
          class="input_box"
          placeholder="Enter your email"
          id="loginEmail"
        />
        <input
          type="password"
          class="input_box"
          placeholder="Enter your password"
          id="loginPassword"
        />
        <button type="submit" class="signupButton">Log In</button>

        <br />
        
        <p2 class="AlreadyHaveAccount">Can't login? | &nbsp<a
            class="link"
            href="/sign-up"
          >Sign up for an account</a></p2>
      </form>
    </div>
  </div>
</div>
<script src="/javascripts/login.js"></script>