<!--- This is the Nav bar.-->
    <header>
        <a href="../"><img class="Logo" src="images/Logo.png" alt="Logo" /></a>
      <div class="topnav-right">
        <a class="login" href="/login">Log in</a>
        <a class="active" href="/sign-up">Sign up</a>
      </div>
    </header>

 <div class="myContainer">
    <div class="signupContainer">  
        <img
        class="landingImage_signup"
        src="images/LandingImage.png"
        width="600px"
        height="auto"
        alt="-"
      />
      <div class="signupForm">
        <h2 class="h2_signup">Sign up for free</h2>
        <p2 class="p2">Create your account now at no extra cost.</p2> 
        <form>
            <input type="email" class="input_box" placeholder="Enter your email">
            <input type="name" class="input_box" placeholder="Enter your Name">
            <input type="password" class="input_box" placeholder="Enter your password">
            <a href="dashboard.html"><button type="button" class="signupButton6"> Sign Up </button></a>
        
            <br>
    
            <p2 class="AlreadyHaveAccount">Already have a StudBud account? <a class="link" href="/login">Login</a></p2>
        </form>
      </div>
    </div>
</div>
<body>