<!---his is the Nav bar.-->
<header>
  <div style="margin-left:97%;">
    <img id="accountlogo" src="images/account_logo.png" alt="" />
  </div>
  <nav>
    <div class="sideNav">
      <a href="../"><img
          class="Logo2"
          style="width: 100px; height: auto"
          src="images/Logo2.png"
          alt="Logo"
        /></a>
      <a>
        <ul class="nav_links">
          <li>
            <a href="/dashboard">
              <span class="material-symbols-outlined"> dashboard </span>
              Dashboard</a>
          </li>
          <li>
            <a href="/task-board">
              <span class="material-symbols-outlined"> task </span>
              Task Board</a>
          </li>
          <li class="active">
            <a href="/time-tracker">
              <span class="material-symbols-outlined"> timer </span>
              Time Tracker</a>
          </li>
          <li>
            <a href="/library">
              <span class="material-symbols-outlined"> auto_stories </span>
              Library</a>
          </li>
          <li>
            <a href="#">
              <span class="material-symbols-outlined">
                settings
              </span>Settings</a>
          </li>
        </ul>
      </a>
    </div>
  </nav>
</header>
<body style="background-color:#D7EDEB;">
  <div class="pageContainer">
    <h1 class="PageTitle"> Your Time Tracker</h1>
    <p class="PageInstruction">Track your study work flow and breaks with the
      Pomodoro method.</p>
    <div class="timerContainer">
      <div id="timerLabel">00 : 00</div>

      <button type="button" id="startButton">
        Start
      </button>
      <button type="button" id="stopButton">
        Stop
      </button>
      <button type="button" id="resetButton">
        Reset
      </button>
    </div>
  </div>
</body>
<script src="javascripts/time-tracker.js"></script>