* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  justify-content: space-between;
}

li,
a,
button {
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fffdf8;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.Logo {
  width: 100px;
  height: auto;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}

body {
  height: 100%;
  margin-left: 0px;
  padding: 0;
  background-color: #38a69b;
}

h1 {
  font-family: "Museo Sans Rounded";
  color: #fffdf8;
  font-weight: 900;
  font-size: 40px;
}

h2 {
  font-family: "Museo Sans Rounded";
  color: #6c6c6c;
  font-weight: 600;
  font-size: 30px;
}

h3 {
  font-family: "Museo Sans Rounded";
  color: #6c6c6c;
  font-weight: 300;
  font-size: 20px;
}

h4 {
  font-family: "Museo Sans Rounded";
  color: #6c6c6c;
  font-weight: 300;
  font-size: 15px;
}

p {
  font-family: "Brandon Grotesque";
  color: #fffdf8;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}

.login {
  margin-top: 10px;
  margin-right: 50px;
}

.login:hover {
  font-weight: 600;
}

.login:active {
  font-weight: 600;
  text-decoration: underline;
}

.topnav-right {
  width: 200px;
}

button {
  width: fit-content;
  background-color: #fab217;
  border: none;
  border-radius: 5px;
  padding: 6px 2%;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  width: fit-content;
  background-color: #fffdf8;
  color: #38a69b;
  border: none;
  border-radius: 5px;
  padding: 6px 2%;
  cursor: pointer;
}

.signup {
  margin-right: 10px;
  margin-top: 10px;
  padding: 5px 1%;
}

.active {
  font-weight: 600;
  text-decoration: underline;
}

.active2 {
  margin-top: 10px;
  margin-right: 50px;
  font-weight: 600;
  text-decoration: underline;
}

.signup:hover {
  font-weight: 800;
}

.signupButton{
  margin-top: 10px;
  margin-bottom: 15px;
}

.signupButton2 {
  margin-left: 100px;
  width: 100%;
}

.signupButton3 {
  margin-left: 42%;
  margin-top: 0px;
  width: fit-content;
  background-color: #fab217;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signupButton4 {
  margin-left: 42%;
  margin-top: 0px;
  width: fit-content;
  background-color: #fab217;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signupButton5 {
  width: fit-content;
  background-color: #ffffff;
  box-shadow: 0 0 3px 0 rgb(0, 0, 0, 0.3);
  color: #6c6c6c;
  font-weight: 400;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.signupButton6 {
  width: fit-content;
  background-color: #fab217;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}

.FooterButton {
  margin-top: -170px;
  height: 100px;
}

.learnMoreButton {
  margin-left: 20px;
  background-color: none;
  border-color: #fffdf8;
  border-style: solid;
  border-radius: 5px;
  padding: 5px 1%;
  cursor: pointer;
  font-size: 20px;
}

.learnMoreButton:hover {
  margin-left: 20px;
  background-color: none;
  border-color: #fffdf8;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px 1%;
  cursor: pointer;
  font-weight: 600;
}

.nav_links {
  list-style: none;
}

.webappTitle {
  margin-left: 100px;
  margin-top: 100px;
}

.missionStatement {
  margin-left: 100px;
  margin-top: 5px;
  margin-right: 980px;
  margin-bottom: 20px;
}

.landingContainer {
  height: 610px;
}

.landingImage_signup,
.landingImage_login {
  margin-left: 40px;
  margin-top: 40px;
  background-color: transparent;
}

.landingImage {
  margin-left: 650px;
  background-color: transparent;
}

.landing {
  height: 100%;
  margin: 0;
  width: 100vw;
  margin-top: -50px;
}

.myContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer,
.signupContainer {
  background-color: #fffdf8;
  width: 1360px;
  height: 650px;
  border-radius: 20px;
  margin-top: 10px;
}

.signupForm {
  margin-left: 57%;
  margin-top: -540px;
  justify-content: center;
  align-items: top;
  height: 450px;
  width: 450px;
  text-align: center;
  font-family: "Brandon Grotesque";
  color: #6c6c6c;
}

.loginForm {
  margin-left: 57%;
  margin-top: -510px;
  justify-content: center;
  align-items: top;
  height: 450px;
  width: 450px;
  text-align: center;
  font-family: "Brandon Grotesque";
  color: #6c6c6c;
}

.h2_signup {
  margin-top: 10px;
}

.p2 {
  color: #7c8081;
  font-weight: 400;
  font-size: 20px;
  margin-top: 50px;
}

.link {
  color: #6c6c6c;
  text-decoration: underline;
}

.input_box {
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #bbbdbb;
  font-family: "Brandon Grotesque";
}

.offerings {
  background-color: #ffa5b0;
  padding: 20px;
  justify-content: center;
  display: flex;
}

.offering {
  background-color: #fffdf8;
  width: 250px;
  height: 280px;
  border-radius: 30px;
  color: #6c6c6c;
  text-align: center;
  padding: 30px;
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
}

.material-symbols-outlined {
  font-size: 54px;
  padding-bottom: 20px;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.contentblock1,
.contentblock2,
.contentblock3,
.contentblock4 {
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  scroll-snap-align: start;
  padding: 7% 7%;
  display: flex;
}

.contentblock1 {
  background-color: #f8919e;
}

.contentblock2 {
  background-color: #fcf7e8;
}

.contentblock3 {
  background-color: #9fb71a;
}

.contentblock4 {
  background-color: #38a69b;
}

.contentblock5 {
  margin: 0;
  width: 100vw;
  object-fit: scale-down;
  scroll-snap-align: start;
}

#content_textbox {
  margin-right: 0px;
}

#content_textbox2 {
  margin-right: 0px;
  color: #212121;
}

#content_textbox2 h1 {
  color: #38a69b;
}

#content_textbox2 p {
  color: #38a69b;
  font-weight: 400;
}

#mockup_block {
  margin-left: 15px;
  margin-top: 0px;
}

#mockup_footer {
  width: 100vh;
  height: 100vh;
}

.footer_text {
  display: flex;
  justify-content: center;
  margin-top: -180px;
  margin-bottom: 20px;
}

.footer_signupbutton {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.sidenav * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sidenav {
  width: 200px;
  height: 100vh;
  background-color: #fffdf8;
  top: 0;
  left: 0;
  position: fixed;
  padding: 20px 30px;
}

.sidenav li {
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #6c6c6c;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.sidenav a {
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #6c6c6c;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.sidenav header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Logo2 {
  width: 100px;
  height: auto;
  margin-top: 0px;
  cursor: pointer;
}

.sideNav {
  width: 200px;
  height: 100vh;
  background-color: #fffdf8;
  top: 0;
  left: 0;
  position: fixed;
  padding: 20px 30px;
}

.nav_links {
  list-style: none;
  position: relative;
  margin-top: 40px;
}

.nav_links li {
  padding: 10px 0;
}

.nav_links li a {
  display: flex;
  align-items: center;
}

.nav_links li a span {
  font-size: 22px;
  margin-right: 15px;
}

.nav_links li:hover a {
  color: #38a69b;
  cursor: pointer;
}

ul li.active a {
  color: #38a69b;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .sideNav {
    width: 110px;
  }
}

.PageTitleDashboard {
  font-family: "Museo Sans Rounded";
  font-size: 25px;
  font-weight: 600;
  color: #30373a;
  text-align: left;
  padding: 10px 17%;
}

.PageTitle {
  font-family: "Museo Sans Rounded";
  font-size: 25px;
  font-weight: 600;
  color: #30373a;
  text-align: left;
  padding: 10px 30%;
}

.PageInstruction {
  font-family: "Brandon Grotesque";
  font-size: 20px;
  font-weight: 400;
  color: #30373a;
  text-align: left;
  padding: 0px 30%;
  margin-right: 15%;
}

.taskform {
  margin-left: 17%;
}

#accountlogo {
  width: 33px;
  margin-top: 10px;
}

.newReadingForm {
  width: 650px;
  height: 500px;
  margin-left: 30%;
}

.createReadingButton {
  width: 650px;
  margin-top: 15px;
}

.createReadingButton:hover {
  width: 650px;
  margin-top: 15px;
}

#newReadingForm {
  font-family: "Brandon Grotesque";
  margin-top: 10px;
}

.timerContainer{
  margin-left: 30%;
  margin-top: 30px;
  background-color: #fffdf8;
  width: 700px;
  height: 450px;
  border-radius: 20px;
}

#taskform{
  font-family: 'Brandon Grotesque';
}

.taskList {
  margin-left: 30%;
}

.strikethrough {
  text-decoration: line-through;
}